body {
	background-color: #222222;
	color: white;
	margin: 0;
	overflow: hidden;
}
.sidebar {
	width: 25%;
	float: left;
	margin: 8px;
}
.midbar {
	width: 50%;
	float: left;
	background-color: lightblue;
	color: black;
	border-left: 3px #999999 solid;
	border-right: 3px #999999 solid;
	bottom: 0px;
	padding-bottom: 15%;
}
.rightbar {
	float: left;
}
#money-bar {
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-top: 20%;
}
#mps-bar, #mpc-bar {
	width: 100%;
	text-align: center;
	font-size: 12px;
}
#clicker {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	cursor: pointer;
}
#special {
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.building, .upgrade, .achievement {
	display: inline-block;
	border : 3px #999 solid;
	margin: 2px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.building {
	clear: left;
	max-width: 275px;
	min-width: 50%;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}
.build-name {
	font-size: 24px;
	display: inline-block;
	padding-left: 4px;
}
.build-num {
	font-size: 22px;
	padding-right: 4px;
	text-align: right;
	display: inline-block;
	float: right;
}
.build-cost-bar {
	width: 100%;
	font-size: 10px;
	display: inline-block;
}
.build-cost {
	text-align: right;
	float: right;
}
.build-cost-unit {
	padding: 0px 4px;
	float: right;
}
.upgrade {
	padding: 4px;
}
.achievement {
	padding: 4px;
}
.build-mps {
	font-weight: bold;
}
.space-words{
	margin-top: 10px; /* WHY THE FUCK DOESN'T THIS WORK */
}
.flavor{
	clear: left;
	font-style: italic;
	color: #bbb;
}
#clicktrack-dropdown {
	top: 0px;
}
#notifications {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.notification {
	position: relative;
	border: 3px #999999 solid;
	background-color: black;
	width: 250px;
	padding: 7px;
}
.notif-words {
	display: inline-block;
	width: 220px;
}
.notif-close {
	display: inline-block;
	float: right;
	top: 0%;
	background-color: black;
	border: 0px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
button {
	border: 2px #999999 solid;
	background-color: #666666;
	color: white;
}


.hover {
	position: absolute;
	display: none;
	font-size: 12px;
	background-color: black;
	color: white;
	z-index: 10;
	background-color: black;
	border: 3px #999999 solid;
	padding: 5px;
	min-width: 200px;
	max-width: 300px;
}
div:hover > .hover {
	display: block;
	top: 100%;
	left: 18px;
}
.building:hover > .hover {
	display: block;
	top: -2px;
	left: 100%;
}
.scroll-wrapper {
	position: relative;
}
.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 70px;
	direction: rtl;
}
.larger {
	max-height: 200px;
}
.scrollable > div{
	direction: ltr;
}
#clicktrack-wrapper {
	display: none;
}

#m_confirm{
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 300px;
	border: 3px #999999 solid;
	background-color: black;
	padding: 10px;
	display:none;
}
#m_prompt_long{
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 300px;
	border: 3px #999999 solid;
	background-color: black;
	padding: 10px;
	display:none;
}
#m_show_long{
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 300px;
	border: 3px #999999 solid;
	background-color: black;
	padding: 10px;
	display:none;
}
.m_message {
	
}
.m_ok {
	border: 2px #999999 solid;
	background-color: #666666;
	color: white;
	float: right;
	margin-right: 5px;
}
.m_cancel {
	border: 2px #999999 solid;
	background-color: #666666;
	color: white;
	float: right;
	margin-right: 5px;
}
.m_long_text_input {
	max-width: 280px;
}



.on {
	color: white;
	background-color: #666666;
}
.off {
	color: #aaaaaa;
	background-color: #444444;
}
.total-off {
	display: none;
}